@import url("https://fonts.googleapis.com/css?family=Roboto:100,500");

/* Global */

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    color: #DDE;
    box-shadow: inset 0 0 0 10000px rgba(51, 51, 68, 0.75);
    background-color: #334;
    background-image: url("img/bg/12.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 100;
}

a {
    font-weight: 500;
    color: #DDE;
}


/* Cover container */

.cover-container {
    position: fixed;
    height: 100% !important;
    width: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Navbar */

nav {
    overflow-x: auto;
    padding: 0 !important;
}

.navbar-brand img {
    width: 48px;
}


.nav-link:hover {
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}


/* Main */

main {
    text-align: center;
    padding-right: 25px !important;
    padding-left: 25px !important;
}

main span {
    color: #d99e82;
}

main .btn {
    margin-bottom: 5px;
}

@media (min-width: 576px) {

    main {
        text-align: left;
    }

    main h1 {
        font-size: 6em;
    }

    main p {
        font-size: 2em;
    }
}


/* Footer */

footer {
    text-align: center;
    font-weight: lighter;
    opacity: 0.3;
}

footer:hover {
    opacity: 1;
}


/* Button */

.btn-one {
    border-width: 0;
    border-bottom-width: 2px;
}

.btn-xlg {
    padding: 15px 30px;
    font-size: 1.2em;
}

.btn-link {
    text-decoration: none !important;
}


/* Cookie button */

.btn-cookie {
    color: #8a4b38;
    background-color: #d99e82;
    border-color: #d99e82;
}

.btn-link-cookie {
    color: #d99e82;
}

.btn-outline-cookie {
    display: inline-block;
    color: #d99e82;
    border-color: #d99e82;
    background: transparent;
}

.btn-outline-cookie:hover,
.btn-outline-cookie:focus,
.btn-link-cookie:hover,
.btn-link-cookie:focus {
    color: #8a4b38;
    background-color: #d99e82;
    border-color: #d99e82;
}

.btn-cookie:hover,
.btn-cookie:focus {
    color: #d99e82;
    background-color: #8a4b38;
    border-color: #8a4b38;
}


/* Cookie color */

.text-cookie {
    color: #d99e82;
}

.bg-cookie {
    background-color: #8a4b38;
}


/* Sidebar */

.sidebar {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    opacity: 0;
    color: #fff;
    text-align: left;
}

.sidebar-open {
    z-index: 10000;
    opacity: 1;
}

.sidebar-right {
    right: 0;
}

.sidebar-left {
    left: 0;
}

.sidebar .sidebar-inner {
    background-color: rgba(138, 75, 56, 0.75);
    padding: 15px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0 solid rgb(138, 75, 56);
    max-width: 75% !important;
    width: 400px;
}

.sidebar,
.sidebar .sidebar-inner {
    position: fixed;
    top: 0;
    transition: all 300ms ease-in-out;
    height: 100%;
}

.sidebar-right .sidebar-inner {
    border-left-width: 2px;
    right: -40%;
}

.sidebar-left .sidebar-inner {
    border-right-width: 2px;
    left: -40%;
}

.sidebar-open.sidebar-left .sidebar-inner {
    left: 0;
}

.sidebar-open.sidebar-right .sidebar-inner {
    right: 0;
}

.sidebar p {
    font-size: 1.3em;
    line-height: 1.2em;
}

.sidebar img {
    border-radius: 3px;
}

.sidebar hr {
    border-color: rgba(255, 255, 255, 0.05);
    margin-right: -30px;
    margin-left: -30px;
}


/* Sidebar buttons */

.sidebar-button .btn {
    margin-top: 15px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 50%;
    border-color: rgba(138, 75, 56, 0.75);
}

.sidebar-button-left .btn {
    left: -10px;
    border-radius: 0 40px 40px 0;
}

.sidebar-button-right .btn {
    right: -10px;
    border-radius: 40px 0 0 40px;
}


/* Modal windows */

.modal-window {
    position: fixed;
    background-color: rgba(23, 23, 23, 0.79);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 50%;
    height: 50%;
    overflow-y: auto;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #1d1d1d;
    color: #888;
}
  
.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #EEE;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}